*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 90%;
    margin: 0 auto;
    max-width:1500px ;
}
.flex-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.w-46{
    width: 45%;
}
.main-btn{
    background-color: #f35f2f;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
}
.main-btn a{
    text-decoration: none;
    color: #fff;
}
header{
    padding: 16px 0;
}
header nav ul{
    display: flex;
    gap: 60px;
    list-style: none;
}
header nav ul li a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}
header nav .active{
    color: #f35f2f;
}
.w-30{
    width: 30%;
}
.service{
    text-align: center;
}
.service .flex-box{
    border: 1px solid #fff;
    padding: 20px 0 ;
    border-radius: 10px;
}
.servicen.w-30 :last-child{
    border-right: none;
}
.offer{
    text-align: center;
}
.offer .w-30{
    border-radius: 27px;
    box-shadow: 0px 4px 22px 0px ;Logo.png
    padding: 20px;
    
}
.projects{
    text-align: center;
}
.projects .w-30{
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;
}
.team{
    text-align: center;
}
.team .w-25 img{
    width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: contain;
}
.w-25{
    width: 23%
}
.messengers{
    display: flex;
    gap: 6px;
    font-size: 20px;
    justify-content: center;
}
.messengers a{
    color: blue;
}